<div class="comments">

    {{#each this}}

    <section class="comment">
        
        <div class="commenting">
            {{user.username}} on {{format_date created_at}}
        </div>

        <textarea class="comment-statement">{{comment}}</textarea>

    </section>
    
    {{/each}}

</div>