<div class="comments-partial">

    {{#each this}}

    <section class="comment-part">
        
        <div class="commenting">
            {{user.username}} on {{format_date created_at}}
        </div>

        <div class="text">
            {{comment}}
        </div>

    </section>
    
    {{/each}}

</div>