<div class="added-comments">

    {{#each this}}

    <section class="comment">
        <div class="commenter"> 
            {{user.username}} on {{format_date created_at}}
        </div>
    <div class="comment-added">{{comment}}</div>

    </section>
    
    {{/each}}

</div>