<div class="comments">

    {{#each this}}

    <section class="comment">
        {{user.username}} on {{format_date created_at}}
    <textarea id="comment-statement">{{comments}}</textarea>

    </section>
    
    {{/each}}

</div>