<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TechBlogSpot</title>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet", href="/stylesheets/style.css">
    </head>

    <body>
        <div class="wrapper">
            <header>
                <nav class="menu-items">
                    {{#if loggedIn}}
                    <a href="/dashboard">Dashboard</a>
                    <button id="logout">Logout</button>
                    {{else}}
                    <a href="/login">Login</a>
                    {{/if}}
                </nav>
                <div class="title-block">
                    <h1>Your Ultimate Tech Blogspot</h1>
                </div>
            </header>
        
            <main>
                
                {{{ body }}}
            
            </main>
            
            <footer>
               <div class="blurb">
                    <a href="/">Terms of Use</a>
                    <a href="/">Contact us</a>
                </div>
            </footer>
        </div>
        {{#if loggedIn}}
        <script src="/javascript/logout.js"></script>
       {{/if}}

 </body>   
</html>