<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Security-Policy" content="default-src *;
    img-src * 'self' data: https: http:;
    script-src 'self' 'unsafe-inline' 'unsafe-eval' *;
    style-src  'self' 'unsafe-inline' *">
        <title>TechBlogSpot</title>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet", href="/stylesheets/style.css">
    </head>

    <body>
        <div class="wrapper">
            <header>
                <div class="menu-items">
                    <nav>
                        <a href="/">Home</a>
                        <a href="/dashboard">Dashboard</a>
                        {{#if loggedIn}}
                            <button class="btn logout-btn" id="logout">Logout</button>
                        {{else}}
                            <a href="/login">Login</a>
                        {{/if}}
                    </nav>
                </div>
                <div class="title-block">
                    <h1>Your Ultimate Tech Blogspot</h1>
                </div>
            </header>
        
            <main>
                
                {{{ body }}}
            
            </main>
            
            <footer>
               <div class="common-links">
                    <a href="/">Terms of Use</a>
                    <a href="/">Contact us</a>
                </div>
            </footer>
        </div>
        {{#if loggedIn}}
        <script src="/javascript/logout.js"></script>
       {{/if}}

 </body>   
</html>