{{> post-details post}}

{{#if loggedIn}}
<form class="comment-section">
    <div>
        <textarea id="comment-statement"></textarea>
    </div>
    <div>
        <button type="submit">Add a comment<button>
    </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/leavecomment.js"></script>
{{/if}}

