 <article>
    <a href="/dashboard"> &larr; Return to Dashboard</a><br><br>

    {{> post-details post}}

    <form class="comment-section">
        <div>
            <textarea id="comment-statement"></textarea>
        </div>
        <div>
            <button type="submit" class="add-comment">Add a comment</button>
        </div>
    </form>

    {{> comments post.comments}}
    
</article>

{{#if loggedIn}}
<script src="/javascript/leavecomment.js"></script>
{{/if}}
