<form class="create-account">
    <h2>Create New Account</h2>
    <div>
        <label for="create-username">username:</label>
        <input type="text" id="create-username" />
    </div>
    
    <div>
        <label for"create-email">email:</label>
        <input type="text" id="create-email" />
    </div>
    <div>
        <label for"create-password">password:</label>
        <input type="password" id="create-password" />
    </div>
    <div>
        <button type="submit">Create Account</button>
    </div>
</form> 

<script src="/javascript/createaccount.js"></script>