<section>
    <h2>Create New Post</h2>

    <form class="post-entry">
        <div>
            <label for"post-title">Title</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for"post-url">Post URL</label>
            <input id="post-url" name="post-url" />
        </div>
        <button type="submit" class="btn create-btn">Create Post</button>
    </form>
</section>

{{#if post.length}}
<section>
    <h2>Previous Posts</h2>
    <ul>
        {{#each posts as |post|}}
        <li>
            {{> post-blurb post}}
            <button type="submit" class="btn edit-btn">
                <a href="/dashboard/edit/{{post.id}}" class="edit">Edit post</a>
            </button>
        </li>
        {{/each}}
    </ul>
</section>

{{/if}}
<script src="/javascript/newpost.js"></script>