<article>
    <a href="/dashboard"> &larr; Return to Dashboard</a><br><br>
    
    <form class="edit-post">
        <div>
            <label for"post-title">Edit Post Title</label>
            <input type="text" name="post-title" value="{{post_title}}"/>
            <br><br>
            <label for"post-content">Edit Post Content</label>
            <textarea id="post-content">{{post_content}}</textarea>
        </div>
        
        <button type="submit" class="save-edit">Save</button>
        <button type="button" class="delete-btn">Delete</button>
    </form>
</article>

<script src="/javascript/editpost.js"></script>
<script src="/javascript/deletepost.js"></script>

