<div class="welcome">
    <p>Welcome to Your Ultimate Tech Blogspot!</p>
    <p>Please sign in below to post a comment or create a new blog post.</p> 
    <p>If you have not yet joined our community, please create an account in the space below.</p>
</div>

<form class="login">
    <h2>Log In</h2>
    <div>
        <label for"email-login">email:</label>
        <input type="text" id="email-login" />
    </div>
    <div>
        <label for"password-login">password:</label>
        <input type="password" id="password-login" />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>

<form class="create-account">
    <h2>Create New Account</h2>
    <div>
        <label for="create-username">username:</label>
        <input type="text" id="create-username" />
    </div>
    
    <div>
        <label for"create-email">email:</label>
        <input type="text" id="create-email" />
    </div>
    <div>
        <label for"create-password">password:</label>
        <input type="password" id="create-password" />
    </div>
    <div>
        <button type="submit">Create Account</button>
    </div>
</form> 

<script src="/javascript/login.js"></script>
