<div class="welcome">
    <p>Welcome to Your Ultimate Tech Blogspot!</p>
    <p>Please sign in below to post a comment or create a new blog post.</p> 
    <p>If you have not yet joined our community, please create an account in the space below.</p>
</div>

<form class="login">
    <h2>Log In</h2>
    <div>
        <label for"username-login">username:</label>
        <input type="text" id="username-login" />
    </div>
    <div>
        <label for"password-login">password:</label>
        <input type="password" id="password-login" />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>

<a href="/createaccount"><h3>Create New Account</h3></a>

<script src="/javascript/login.js"></script>
