:root {
    --primary-color: rgb(11, 23, 49);
    --secondary-color: rgb(187, 216, 228);
    --tertiary-color: rgb(159, 216, 243); 
    --light-color: white;
}

* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: var(--primary-color);
  }
  
  header {
    border-bottom: 1px solid var(--light-color);
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    padding: 0 1%;
  }
 
  .menu-items {
    margin-top: 10px;
    display: flex;
    align-items: left;
    width: 90%;
    
  }

  nav {
    width: 250px;
    display: flex;
    justify-content: space-around;
    color: var(--tertiary-color);
  }

  a {
    text-decoration: none;
    color: var(--tertiary-color);
    font-weight: bold;
  }
  
  a:hover {
    color: var(--secondary-color);
  }
  
  header h1 {
    color: var(--primary-color);
  }
  
  .title-block {
    width: 40%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    font-size: 1em;
    padding: 2px;
    margin-bottom: 10px;
    background-color:var(--secondary-color);
    border: 5px solid var(--tertiary-color);
    border-radius: 15px;
  }

  .title-block .outer {
    width: 100%;
    padding-top: 75%;
    position: relative;
  }

  .title-block .outer .inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  button  {
    background-color: var(--tertiary-color);
    border: 0;
    padding: 1%;
    color: var(--primary-color);
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: var(--secondary-color);
  }

  .logout-btn {
    background: var(--primary-color);
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: var(--tertiary-color);
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 2.5px;
    margin-top: -32px;
  }
  
  .logout-btn:hover {
    background: var(--primary-color);
    color: var(--tertiary-color);
  }
  
  .post-list {
    margin: 0;
    padding: 0;
  }
  
  textarea, input {
    padding: .5%;
    font-size: 13px;
    color: var(--primary-color);
    border-radius: 5px;
    border: 1px solid var(--light-color);
    background-color: var(--secondary-color);
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid var(--secondary-color);
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  .post .post-content textarea {
    min-width: 100%;
    min-height: 100px;
    font-size: 14px;
    color: var(--primary-color);
    background-color:var(--secondary-color);
  }

  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }

  .welcome {
    padding-bottom: 10px;
  }
  
  .login {
    margin-bottom: 60px;
  }

  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
   
  main {
    flex: 1;
    padding: 2% 4%;
    color: var(--tertiary-color);
  }
    
  .post {
    margin-bottom: 2%;
    line-height: 150%;
    border: 1px solid var(--secondary-color);
  }
 
  #post-title, #post-link {
    background-color: var(--secondary-color);
  }

  .post .title-section {
    display: flex;
    justify-content: space-between;
  }

  .post .post-title span {
    font-style: italic;
    width: 100%;
    font-size: 90%;
    color: var(--primary-color);
    padding-left: 5px;
  }
  
  .post .post-title {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    padding-left: 5px;
  }

  .post .posted-by {
    padding-right: 5px;
  }

  .post .post-link {
    color: var(--primary-color);
  }
 
  .post .post-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }

  ul {
    list-style: none;
  }

  .edit {
    display: block;
    margin: -1.5% 0 2% 0;
  }
  
  .comment-section {
    margin-bottom: 5%;
    padding: 2%;
    border: 1px solid var(--secondary-color);
  }
  
  .comment-part {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment-part:nth-child(odd) {
    background-color: var(--secondary-color);
  }
  
  .post .commenting {
    padding-left: 5px;
  }

  .comment-part .commenting {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
  
  .post-entry input {
    width: 300px;
  }
  
  .dashboard-page-top {
    margin-top: -10px;
    margin-bottom: 25px;
    font-size: 2em;
  }

  .current {
    margin-top: 40px;
  }

  .edit-post {
    margin-bottom: 5%;
  }
  
  footer {
    border-top: 1px solid var(--secondary-color);
    height: 100px;
    display: flex;
    padding: 1%;
    font-size: 100%;
  } 

  .common-links {
    width: 100px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    padding: 5px;

  }
  
  