:root {
    --primary-color: rgb(11, 23, 49);
    --secondary-color: rgb(201, 229, 238);
    --tertiary-color: rgb(159, 216, 243); 
    --light-color: white;
}

* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    
    background-color: var(--primary-color);
  }
  
  header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    padding: 0 1%;
  }
 
  .menu-items {
    margin-top: 10px;
    display: flex;
    align-items: left;
    width: 90%;
    
  }

  nav {
    width: 250px;
    display: flex;
    justify-content: space-around;
    color: var(--tertiary-color);
  }

  a {
    text-decoration: none;
    color: var(--tertiary-color);
    font-weight: bold;
  }
  
  a:hover {
    color: var(--secondary-color);
  }
  
  header h1 {
    color: var(--primary-color);
  }
  
  .title-block {
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    font-size: 1em;
    margin-bottom: 10px;
    background-color:var(--light-color);
    border: 5px solid var(--tertiary-color);
    border-radius: 15px;
  }

  button {
    background-color: var(--tertiary-color);
    border: 0;
    padding: 1%;
    color: var(--primary-color);
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: var(--secondary-color);
  }
  
  .logout-btn {
    background: var(--primary-color);
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: var(--tertiary-color);
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 2.5px;
    margin-top: -32px;
  }
  
  .logout-btn:hover {
    background: var(--primary-color);
    color: var(--tertiary-color);
  }
  
  .post-list {
    margin: 0;
    padding: 0;
  }
  
  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: var(--light-color);
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid var(--secondary-color);
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }

  .welcome {
    padding-bottom: 10px;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
   
  main {
    flex: 1;
    padding: 2% 4%;
    color: var(--tertiary-color);
  }
  
  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
    border: 1px solid var(--light-color);
  }
  
  .post .post-title span {
    font-style: italic;
    width: 100%;
    font-size: 90%;
    color: var(--primary-color);
    padding-left: 5px;
  }
  
  .post .post-title  {
    background-color: var(--light-color);
    color: var(--primary-color);
    padding-left: 5px;
    
  }

  ul {
    list-style: none;
  }
 
 .post-link {
    color: var(--tertiary-color);
  }
  
  .edit {
    display: block;
    margin: -1.5% 0 2% 0;
  }
  
  .comment-section {
    margin-bottom: 5%;
    border: 1px solid var(--light-color);
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment:nth-child(odd) {
    background-color: #fff5eb;
  }
  
  .comment .commenting {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
  
  .post-entry input {
    width: 300px;
  }
  
  .edit-post {
    margin-bottom: 5%;
  }
  
  footer {
    border-top: 1px solid var(--secondary-color);
    height: 100px;
    display: flex;
    padding: 1%;
    font-size: 100%;
  } 

  .blurb {
    width: 100px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;

  }
  
  